.my_philosophy{
  display: grid;
  grid-template: 1fr/1fr 2fr 1fr;
  padding-bottom: 100px;
  column-gap: 15px;
  @media (max-width: 764px) {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(30px,auto);
    row-gap: 20px;
    padding-bottom: 60px;
  }
}