.title{
 font-size: 16px;
  //styleName: Caption large;
  font-family: var(--FontFamilyfontFamily-HelveticaNeue);
  color: #A5A5A5;
  font-weight: 400;
  line-height: 19.09px;
  letter-spacing: -0.5px;
  text-align: left;
 margin-bottom: 30px;
  margin-top: 10px;
}
