.bloc_2{
  display: grid;
  grid-template:1fr/ 3fr 1fr;
  padding-bottom: 100px;
  @media (max-width: 764px) {
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    padding-bottom: 60px;
  }
}
.item_3{

}